@inherits Masa.Blazor.Popup.Components.PopupComponentBase

<MDialog Value="Visible" Fullscreen>
    <MCard Tile>
        <MToolbar>

            <MListItem>
                <MListItemAvatar Tile>
                    <MImage Src="@CharacterDisplay.DisplayImage">
                        <PlaceholderContent>
                            <MIcon>mdi-border-none-variant</MIcon>
                        </PlaceholderContent>
                    </MImage>
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle>
                        @CharacterDisplay.ToDisplayName()
                    </MListItemTitle>
                    <MListItemSubtitle>

                        <MChip XSmall Outlined Color="green">
                            @CharacterDisplay.DisplayCategory
                        </MChip>
                    </MListItemSubtitle>
                </MListItemContent>
            </MListItem>

            <MSpacer></MSpacer>
            <MToolbarItems>
                <MButtonGroup Rounded Group>
                    <MButton Icon
                             OnClick="() =>this.ClosePopupAsync()">
                        <MIcon>mdi-close</MIcon>
                    </MButton>
                </MButtonGroup>

            </MToolbarItems>
        </MToolbar>

        <MCardSubtitle>@CharacterDisplay.ToDisplayDesc()</MCardSubtitle>
        <MCardText>

            @{
                var equipInfos = CharacterEquipment.EquipmentInfos;
                if (equipInfos?.Any() == true)
                {
                    <MList Dense>
                        @foreach (var item in equipInfos)
                        {
                            <MListItem Dense @key=item>
                                <MListItemAvatar Tile Size="36">
                                    <MImage Src="@item.DisplayImage">
                                        <PlaceholderContent>
                                            <MIcon>mdi-border-none-variant</MIcon>
                                        </PlaceholderContent>
                                    </MImage>
                                </MListItemAvatar>


                                <MListItemContent>
                                    <MListItemTitle>
                                        <span>@item.ToDisplayName()</span>
                                        <MChip XSmall Outlined Color="green">
                                            @item.DisplayCategory
                                        </MChip>

                                    </MListItemTitle>
                                    <MListItemSubtitle>@item.ToDisplayDesc()</MListItemSubtitle>
                                    <MChipGroup ShowArrows="true">
                                        @{
                                            var datas = item.EquipmentAttributes.GetItemAttributes(true).ToArray();
                                            if (datas.Any())
                                            {

                                                @foreach (var item in datas)
                                                {
                                                    <MChip Small Outlined>
                                                        <span>@item.DisplayName:</span>@item.DisplayValue
                                                    </MChip>
                                                }

                                            }
                                        }
                                    </MChipGroup>
                                </MListItemContent>
                                <MListItemAction>
                                    <MButtonGroup Rounded>
                                        <MButton Small Disabled="@(!item.CanWrite)">
                                            <MIcon Color="orange darken-4">mdi-plus</MIcon>
                                        </MButton>
                                        <MButton Small Disabled="@(!item.CanWrite)">
                                            <MIcon Color="orange darken-4">mdi-trash-can-outline</MIcon>
                                        </MButton>

                                    </MButtonGroup>
                                </MListItemAction>
                            </MListItem>
                            <MDivider></MDivider>
                        }
                    </MList>
                }
            }
        </MCardText>

    </MCard>
</MDialog>

