<MCard Outlined MaxWidth="1024" Class="mx-auto">
    <MCardTitle>
        <MToolbar Dense Flat>
            <MTextField Label="SearchContent"
                        Color="primary"
                        @bind-Value="@SearchContent"
                        TValue="string"
                        Clearable
                        HideDetails="true"
                        AppendOuterIcon="mdi-magnify"
                        OnAppendOuterClick="()=>this.OnSearch()"
                        OnClearClick="()=>this.OnSearch()"
                        OnEnter="()=>this.OnSearch()">
            </MTextField>
            <MButtonGroup Dense Borderless Tile>
                <MButton Icon OnClick="()=>this.OnReload()">
                    <MIcon Color="orange darken-4">mdi-refresh</MIcon>
                </MButton>
                <MButton Icon>
                    <MIcon Color="orange darken-4">mdi-cog-outline</MIcon>
                </MButton>
            </MButtonGroup>

        </MToolbar>
    </MCardTitle>
    <MCardText>
        <UIDynamicHeight>
            <MVirtualScroll OverscanCount="2" ItemSize="64" Items="Core.ListInventory_Search">
                <ItemContent>
                    <MListItem Dense>
                        <MListItemAvatar Tile Size="36">
                            <MImage Src="@context.DisplayImage">
                                <PlaceholderContent>
                                    <MIcon>mdi-border-none-variant</MIcon>
                                </PlaceholderContent>
                            </MImage>
                        </MListItemAvatar>


                        <MListItemContent>
                            <MListItemTitle>
                                <span>@context.ToDisplayName()</span>
                                <MChip XSmall Outlined Color="green" OnClick="()=>this.OnSearch(context.DisplayCategory)">
                                    @context.DisplayCategory
                                </MChip>

                            </MListItemTitle>
                            <MListItemSubtitle>@context.ToDisplayDesc()</MListItemSubtitle>
                            <MChipGroup ShowArrows="true">
                                @{
                                    var datas = context.ItemAttributes.GetItemAttributes(false).ToArray();
                                    if (datas.Any())
                                    {

                                        @foreach (var item in datas)
                                        {
                                            <MChip XSmall Outlined>
                                                <span>@item.DisplayName:</span>@item.DisplayValue
                                            </MChip>
                                        }

                                    }
                                }
                            </MChipGroup>
                        </MListItemContent>
                        <MListItemAction>
                            <MButtonGroup Group Rounded>
                                <MButton Loading="@context.Loading" Disabled="@context.Loading" Icon OnClick="()=>OnSelected(context)">
                                    <MIcon Color="orange darken-4">
                                        mdi-file-edit-outline
                                    </MIcon>
                                </MButton>
                            </MButtonGroup>
                        </MListItemAction>
                    </MListItem>

                    <MDivider></MDivider>
                </ItemContent>
            </MVirtualScroll>
        </UIDynamicHeight>
    </MCardText>
</MCard>


